<!DOCTYPE html>

<!-- Demonstrates inline CSS with P tags -->

<html lang="en">
    <head>
        <title>css</title>
    </head>
    <body>
        <p style="font-size: large; text-align: center;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Bertil_Hult.jpg/640px-Bertil_Hult.jpg">
        </br>
            Bertil Hult
        </p>
        <p style="font-size: medium; text-align: center;">
            Welcome to my home page!
        </p>
        <p style="font-size: small; text-align: center;">
            Copyright &#169; 1965 Berty
        </p>
    </body>
</html>